.carousel-caption {
    background-color: rgba(0, 0, 0, .5);
}
.striped-header {
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    animation: stripeAnimation 2s linear infinite;
  }
  
  @keyframes stripeAnimation {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  